@charset "UTF-8";

body {
	margin : 0px;
}

#navbar {
	position : static;
	display : flex;
	width : 100%;
	background-color:gray;
}

.nav-container {
	min-height : 60px;
	width : 100%;
	display : flex;
	margin-left : auto;
	margin-right : auto;
	align-items : center;
	padding-right : 30px;
	padding-left : 30px;
}

.nav-right {
	justify-content : flex-end;
}
.nav-left, .nav-rifht {
	display : flex;
	flex-grow : 1;
	flex-wrap : wrap;
	text-align : center;
	padding : 12px 12px;
}

.nav-item {
	justify-content : center;
	align-items : center;
	display : inline-flex;
}

.logo-item {
	justify-content : left;
	align-items : center;
	position : relative;
	display : inline-flex;
	transition : opacity 150ms;
}

.nav-nav {
	position : relative;
	margin : 0;
	margin-left : 10px;
	padding : 0;
	white-space : nowrap;
	list-style-type : none;
}

.nav-nav>li {
	display : inline-block;
}

a:link {
	color : cyan;
}

a:visited {
	color : cyan;
}

.text-xsmall {
	size : 5px;
}

.text-muted {
	opacity: 0.5;
}

.footer {
	width : 100%;
	padding-top : 30px;
	height : 30px;
	position : absolute;
	bottom : 0;
}

.copyright {
	padding : 5px 5px;
}

.container {
	display : flex;
	width : 100%;
	box-sizing : border-box;
	margin-left : auto;
	margin-right : auto;
}

.main {
	max-width : 1300px;
	min-height : 100%;
	margin-left : auto;
	margin-right : auto;
	position : relative;
}

.content {
	margin-top : 10px;
	margin-left : auto;
	margin-right : auto;
	padding-bottom : 30px;
	width : 960px;
}




